* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #121212; /* Основной фон */
  --text-color: #E0E0E0; /* Цвет текста */
  --accent-color: #3A82F7; /* Основной акцент */
  --accent-hover: #4C91F7; /* При наведении */
  --secondary-color: #555555; /* Границы и второстепенные элементы */
  --highlight-color: #00FF7F; /* Яркие выделения */
}

header {
  background-color: var(--secondary-color);
  padding: 20px;
}

footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
}

.card {
  background-color: #1E1E2E; /* Графитовый цвет */
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.card h2 {
  color: var(--highlight-color);
}

.card button {
  margin-top: 10px;
}

button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid white;
  
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.center {
  width: 100%;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  /* max-width: 1140px; */
  /* display: flex; */
  justify-content: space-around;
  /* height: 100px; */
  align-items: center;
  /* border: 1px solid; */
  flex-direction: column;
  display: inline-block;
  /* background-color: aqua; */
}

.header__up {
  display: flex;
  width: 100%;
  /* height: 50px; */
  border-bottom: 1px solid;
  align-items: center;
  padding: 10px;
}

.header__block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__block2 {
  display: flex;
  align-items: center;
  max-width: 110px;
  gap: 10px;
}

.header__up__list {
  display: flex;
  align-items: center;
}

.catalog__list{
  max-width: 300px;
}

.header__down {
  display: flex;
  /* border: 1px solid; */
  /* height: 50px; */
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.header__down__list {
  display: flex;
  max-width: 500px;
  gap: 10px;
}
.header__down__link {
  max-width: 200px;
  color: white;
  :hover{
    background-color: #0056b3;
  }
}

.header__search {
  display: flex;
  max-width: 400px;
  height: 40px;
}

ul {
  list-style: none;
}


.loop {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 50px;
  border: 1px solid;
}

.basket {
  padding-top: 5px;
    padding-bottom: 5px;
    max-width: 50px;
    border: 1px solid #E0E0E0;
    position: relative;
    background-color: #3A82F7;
    color: #E0E0E0;
    border-radius: 5px;
}
.svg__basket:hover{
  background-color: #0056b3;
}


.basket__number {
  display: flex;
  justify-content: space-evenly;
  color: white;
  position: absolute;
  padding-left: 25px;
}
.header__login {
    max-width: 50px;
    position: relative;
    
  }

.login {
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    /* color: white; */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    /* text-align: center; */
    /* opacity: 0; */
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    
}

.action__btn {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 50px;
  border: 1px solid;
  &:hover{
    background-color: #0056b3;
  }
}
/* .action__btn:hover + .login{
    display: block;
    opacity: 1;
} */

.input__place {
  max-width: 190px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.input__folder{
    display: flex;
    align-items: baseline;
}

.button__input {
  display: flex;
  max-width: 100px;
  gap: 5px;
}

.button__login {
  border: 1px solid;
}
.button__cancel {
  border: 1px solid;
}

.main {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 160px;
}

.header__button__catalog {
  max-width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.header__button__text{
  color: #E0E0E0;
}

.item__list{
  transition: transform 0.3s ease; /* Плавный переход */
}
.item__list:hover{
  transform: scale(1.1);
}


.footer {
  /* max-width: 1140px; */
  /* display: flex; */
  justify-content: space-around;
  /* height: 100px; */
  align-items: center;
  /* border: 1px solid; */
  flex-direction: column;
  /* background-color: aqua; */
}

.footer__up {
  display: flex;
  border-bottom: 1px solid;
  padding: 10px;
  justify-content: space-between;
}
.footer__up__button{
  transition: background-color 0.3s ease;
}

.footer__up__button:hover{
  background-color: #0056b3;
  /* transform: scale(1.1); */
}

.footer__up__catalog {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  max-width: 250px;
  /* background-color: white; */
}
.footer__up__rules {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  max-width: 250px;
  /* background-color: white; */
}
.footer__up__contact {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  max-width: 250px;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footer__input{
  height: 30px;
}

.footer__down {
  display: flex;
  padding: 10px;
}
.footer__down__right {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}
.telephone {
  display: flex;
  align-items: center;
}
.pnone__icon {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 50px;
}

.mail {
  display: flex;
  align-items: center;
}
